<%= link_to "Change Location", '#', :class => "btn btn-mini btn-primary" %>

<h1>Current list:</h1>

<ul>
  <% @list.items.each do |item| %>
    <li class="list_all">
      <a href="#" class="list-icon">
        <i class="icon-plus-sign showprices"></i>
      </a>
        
      <a href="#" class="list-icon">
        <i class="icon-minus-sign hideprices"></i>
      </a>      
      <%= item.name %>

      <%= link_to "/my/list/items/#{item.id}", :confirm => 'Are you sure?', :method => :delete, :class => "list-icon" do %>
        <i class="icon-remove-sign"></i>
      <% end %>
      
      <ul>
        <% item.inventory_records.order("price_cents asc").each do |inventory_record| %>
          <li class="list_result">
            $<%= inventory_record.price %> -  
            <%= inventory_record.vendor.name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>


