<%= link_to "Change Location", '#', :class => "btn btn-mini btn-primary" %>

<h1>Current list:</h1>

<ul>
  <% @list.list_items.each do |list_item| %>
    <li class="list_all">
      <a href="#" class="list-icon">
        <i class="icon-plus-sign showprices"></i>
      </a>
        
      <a href="#" class="list-icon">
        <i class="icon-minus-sign hideprices"></i>
      </a>      
      <%= list_item.item.name %>

      <%= link_to "/my/list/list_items/#{list_item.id}", :confirm => 'Are you sure?', :method => :delete, :class => "list-icon" do %>
        <i class="icon-remove-sign"></i>
      <% end %>

     <ul>
        <% list_item.item.inventory_records.order("price_cents asc").each_with_index do |inventory_record, i| %>
          <li class="list_result <%= "selected" if i == 0 %>" >        
            $<%= inventory_record.price %> -  
            <%= inventory_record.vendor.name %>

          </li>
        <% end %>
      </ul>

    </li>
  <% end %>
</ul>