<%= render :partial => 'form' %>
<%= link_to "Change Location", '#', :class => "btn btn-mini btn-primary" %>

<h1>Current list:</h1>

<ul>
  <% @list.items.each do |item| %>
    <li><%= item.name %> - 
        $<%= item.inventory_records.first(:order => "price_cents").price %>, 
        <%= item.inventory_records.first(:order => "price_cents").vendor.name %>
    </li>
  <% end %>
</ul>