<%= link_to "Change Location", '#', :class => "btn btn-mini btn-primary" %>

<h1>Current list:</h1>

<ul>
  <% @list.items.each do |item| %>
    <li><%= item.name %> - 
      <span class="list_result">
        $<%= item.inventory_records.first(:order => "price_cents").price %>, 
        <%= item.inventory_records.first(:order => "price_cents").vendor.name %>
        <%= button_to "Delete",  "/my/list/items/#{item.id}", :method =>"delete", :class => "btn btn-small" %>
      </span>
        
    </li>

  <% end %>
</ul>