<%= render :partial => 'form' %>
<%= link_to "Change Location", '#', :class => "btn btn-mini btn-primary" %>

<h1>Current list:</h1>

<ul>
  <% @list.items.each do |item| %>
    <li><%= item.name %> - 
        $<%= Item.find(item.id).inventory_records.first(:order => "price_cents").price %>, 
        <%= Item.find(item.id).inventory_records.first(:order => "price_cents").vendor.name %></li>
  <% end %>
</ul>