<h2>Current Location: <%= @current_location %></h2>

<h3>Nearby vendors:</h3>

<ul>
  <% @vendors.each do |vendor| %>
    <li>
      <%= vendor.name %>  |  
      <%= vendor.address %>  | 
      <%= vendor.distance_from(@inputted_location).round(1) %> km away
    </li>
  <% end %>
</ul>

<%= gmaps4rails(@markers)  %>