<div class="vendor-search-results">
    
  <h2>Current Location:</h2>
  Current location: <%= @current_location %>
  @current_location.coordinates: <%= @current_location.coordinates %><br>
  Geocoder.coordinates(@current_location): <%= Geocoder.coordinates(@current_location) %>


  <h3>Nearby vendors:</h3>

  <ul>
    <% @vendors.each do |vendor| %>
      <li>
        <%= vendor.name %>  |  
        <%= vendor.address %>  | 
        <%= vendor.distance_from(@inputted_location).round(1) %> km away
      </li>
    <% end %>
  </ul>

  <%= gmaps4rails(@markers)  %>

</div>