<!DOCTYPE html>
<html>
<head>
  <title>Kale</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAmsTz7kUuS1AOaq0xkm4u3MDB-MFfi7F4&sensor=false" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <%= render partial: "layouts/shared/navigation" %>
    <div class="page_content">
      <%= render partial: "layouts/shared/flash_messages", flash: flash %> 
      <%= yield %>
    </div>
  </div>
</body>
<footer>
</footer>
</html>
